.container {
    padding: 7rem 10rem;
  
    @include respond(lg) {
      padding: 7rem 5rem;
    }
  
    @include respond(mdl) {
      padding: 7rem 4rem;
    }
  
    @include respond(mds) {
      padding: 7rem 3rem;
    }
  
    @include respond(sm) {
      padding: 7rem 3rem;
    }
  
    @include respond(xs) {
      padding: 7rem 2rem;
    }
}

.container-lg {
  padding: 7rem 3rem 0rem;

  @include respond(lg) {
    padding: 7rem 3rem 0rem;
  }

  @include respond(mdl) {
    padding: 7rem 3rem 0rem;
  }

  @include respond(mds) {
    padding: 7rem 1rem 0rem;
  }

  @include respond(sm) {
    padding: 7rem 1rem 0rem;
  }

  @include respond(xs) {
    padding: 7rem 1rem 0rem;
  }
}


.nav-container {
  padding: 2rem 10rem;

  @include respond(lg) {
    padding: 2rem 6rem;
  }

  @include respond(mdl) {
    padding: 2rem 5rem;
  }

  @include respond(mds) {
    padding: 2rem 3rem;
  }

  @include respond(sm) {
    padding: 2rem 3rem;
  }

  @include respond(xs) {
    padding: 2rem 2rem;
  }
}
