.grid{
    display: grid;
}

.col-2-by-1{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;

    @include respond (mds) {
        grid-template-columns: 1fr;
    }
}

// .col-2-by-2{
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(2, 1fr);
//     gap: 2rem;

//     @include respond (mds) {
//         grid-template-columns: 1fr;
//     }
// }


.col-3-by-2{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 4rem;

    @include respond (mds) {
        grid-template-columns: 1fr;
    }
}


.col-7-by-5{
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
}