@font-face {
    font-family: 'SFProDisplay';
    src: local('SFProDisplay Heavy'), local('SFProDisplay-Heavy'),
        url('./Fonts/subset-SFProDisplay-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: local('SFProDisplay Bold'), local('SFProDisplay-Bold'),
        url('./Fonts/subset-SFProDisplay-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: local('SFProDisplay Black'), local('SFProDisplay-Black'),
        url('./Fonts/subset-SFProDisplay-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SFProDisplay';
    src: local('SFProDisplay Regular'), local('SFProDisplay-Regular'),
        url('./Fonts/subset-SFProDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: local('SFProDisplay Semibold'), local('SFProDisplay-Semibold'),
        url('./Fonts/subset-SFProDisplay-Semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay';
    src: local('SFProDisplay Medium'), local('SFProDisplay-Medium'),
        url('./Fonts/subset-SFProDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'SFProDisplay';
    src: local('SFProDisplay Light'), local('SFProDisplay-Light'),
        url('./Fonts/subset-SFProDisplay-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}


