* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include lgrespond(xxxl) {
    font-size: 125%;
  }

  @include respond(md) {
    font-size: 50%;
  }
}

body {
  font-family: $font-text;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul {
  li {
    list-style: none;
  }
}

a {
  text-decoration: none;
  display: inline-block;
}

button {
  border: none;
}

input,
textarea {
  font-family: $font-text;
}

.loader-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .loader {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 2.5rem;
    clip-path: inset(0 100% 0 0);
    animation: l5 2s steps(11) infinite;
  }
  .loader:before {
    content: "Loading...";
  }
}

@keyframes l5 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
