.heading{
    &-1{
        font-size: 4.8rem;

        // @include respond (mds) {
        //     font-size: 3.8rem;
        // }
    }

    &-2{
        font-size: 3.6rem;
        

        // @include respond (mds) {
        //     font-size: 3rem;
        // }
    }

    &-3{
        font-size: 2.8rem;

        // @include respond (mds) {
        //     font-size: 2rem;
        // }
    }

    &-4{
        font-size:  2.2rem;
    }

    &-1,&-2,&-3,&-4{
        font-weight: 600;
    }
}

p{
    font-weight: 200;
    font-style: italic;
    font-size: 1.6rem;
}


.sub-hero{
    position: relative;

    &_text{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: white;

        span{
            color: #2962E2;
        }
    }
}

.heading-label{
    background-color: #eaeffcbb;
    border: .5px solid #BDCEF6;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    font-weight: 400;
    border-radius: 2rem;
    color: #333;
    width: fit-content;
    margin-bottom: 1rem;
}

.section-heading{
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}