.story_text-box{
    position: relative;
    padding-left: 2rem;

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 10px;
        background: linear-gradient(to bottom, #2962E2, #EC3237);
    }

    .text-flex{
        display: flex;
    }
}

.story_img-box{
    display: flex;
    gap: 1rem;
    height: 208px;

    img{
        border-radius: 1rem;
        // width: auto;

    }
}


.about-stats-row{
   display: grid;
   grid-template-columns: repeat(2, 1fr);

   
    

    &:not(:last-child) {
        margin-bottom: 2rem;
    }
}

#about{

    .about-hero{
        width: 85%;
        margin: auto;
        text-align: center;
        margin-bottom: 4rem;

        @include respond (mds) {
            width: 100%;
        }

        .heading-1{
            margin-bottom: 2rem;
        }
    }

    .text-box{
        padding: 8% 2%;
        // align-self: center;
        display: flex;
        flex-direction: column;

        .heading-4{
            font-weight: 500;
            line-height: 1.5;
            margin-bottom: auto;
        }

        .about-stats-box{
            margin-top: 2rem;

            .about-stat{
                .heading-2{
                    color: #2962E2;
                    font-weight: 600;

                    
                }
                .heading-4.span{
                    color: black;
                    font-weight: 400;
                }
            }
        }
    }

    .grid.col-2-by-1{
        column-gap: 1rem;
    }
}