#contact{
    .contact-info{
        padding: 2rem;

        .heading-3{
            margin-bottom: 3rem;
        }
      &_details{
        .detail{
           display: grid;
           grid-template-columns: 8% 1fr;
            

           &:not(:last-child) {
                margin-bottom: 2rem;
           }
        }
      }
    }

    .contact-form{
        border: .5px solid #737373;
        border-radius: 1rem;
        padding: 3rem;

        .heading-3{
            margin-bottom: 2rem;
        }

        input{
            margin-bottom: 3rem;
            height: 4.4rem;
        }

        input, textarea{
            width: 100%;
            padding: 1rem;
            border-radius: 1rem;
            border: 1px solid #737373;

            &:placeholder-shown{
                font-family: $font-text;
                text-transform: uppercase;
            }
        }

        textarea{
            height: 15.8rem;
            margin-bottom: 3rem;
        }

        .btn{
            width: 100%;
        }
    }
}