.btn{
    border-radius: 8px;
    font-weight: 400;
    height: max-content;
    padding: 1.5rem 2rem;

    @include respond (mds) {
        padding: 1.5rem;
    }

    &-main{
        color: #fff;
        background: #2962E2;
        font-size: 2rem;
        transition: all .2s ease;

        &:hover{
            filter: brightness(0.80);
        }

        @include respond(mds) {
            font-size: 1.6rem;
        }
    }
}