#cta-section{
    background: linear-gradient(to bottom, rgb(18, 18, 18, .7), rgb(18, 18, 18, .7)) ,url(../../puzzle.png);
    background-size: cover;
    background-position: top center;


    .cta-heading{
        margin-bottom: 5rem;
        padding: 3rem 0;
        color: white;

        .heading-3{
            margin-bottom: 1rem;
        }

        p{
            font-weight: 200;
        }
    }


    .cta-call{
        background-color: #BDCEF6;
        padding: 5rem 4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 1rem;

        @include respond (mds) {
            flex-direction: column;
            gap: 2rem;
            align-items: baseline;
        }

        p{
            font-weight: 400;
            font-size: 1.8rem;
        }
    }
}