#footer{
    .newsletter{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
        margin-bottom: 3rem;
        padding: 7rem 4rem;
        background: #BDCEF6;
        border-radius: 1rem;

        &_text-box{
            width: 50%;    

            p{
                margin-top: 1rem;
            }
        }

        &_form-box{
            width: 50%;

            .newsletter-form{
                display: flex;
                gap: .5rem;
                margin-bottom: 2rem;

                input{
                    width: 50%;
                    border: none;
                    border-radius: 1rem;
                    padding: 0 2rem;
                    
                    &:placeholder-shown{
                        font-size: 1.4rem;
                        font-weight: 200;
                        font-style: italic;
                        font-family: $font-text;
                    }
                }

                button{
                    border: none;
                }
            }
        }
    }

    .footer-box{
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .footer-logo{
            img{
                object-fit: contain;
                width: 30%;
                height: auto;
            }
        }

        .footer_links{

            &-heading{
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            &-link{
                display: block;
                font-weight: 200;
                color: #000;
                font-size: 1.6rem;
                font-style: italic;
                

                &:not(:last-child) {
                    margin-bottom: .5rem;
                }
            }
        }
    }

    
    .footer-copyrights{
        text-align: center;
        padding: 2rem 0;
        border-top: 1px solid #111;
        margin-top: 2rem;

        p{
            font-weight: 500;
        }
    }
}

#footer.container{
    padding-bottom: 1rem;
}