#footer{
    .newsletter{
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 5rem;
        margin-bottom: 3rem;
        padding: 7rem 4rem;
        background: #BDCEF6;
        border-radius: 1rem;

        @include respond (mds) {
            flex-direction: column;
            padding: 7rem 3rem;
        }

        @include respond (sm) {
            padding: 7rem 2.5rem;
        }

        &_text-box{
            width: 50%;

        br{
            @include respond (mds) {
                display: none;
            }
    
        }

            @include respond (mds) {
                width: 100%;
            }
    

            p{
                margin-top: 1rem;
            }
        }

        &_form-box{
            width: 50%;

            @include respond (mds) {
                width: 100%;
            }
    

            .newsletter-form{
                display: flex;
                gap: .5rem;
                margin-bottom: 2rem;

                input{
                    width: 50%;
                    border: none;
                    border-radius: 1rem;
                    padding: 0 2rem;

                    @include respond (sm) {
                        padding: 0 1.5rem;
                    }
            
                    
                    &:placeholder-shown{
                        font-size: 1.4rem;
                        font-weight: 300;
                        font-family: $font-text;
                    }


                    @include respond (mds) {
                        width: 100%;
                    }
            
                }

                button{
                    border: none;
                }
            }
        }
    }

    .footer-box{
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include respond (mds) {
            grid-template-columns: 1fr;
            gap: 2rem;
        }

        .footer-logo{
            img{
                object-fit: contain;
                width: 30%;
                height: auto;
            }
        }

        .footer_links{

            &-heading{
                font-size: 2rem;
                margin-bottom: 1rem;
            }

            &-link{
                display: block;
                font-weight: 300;
                color: #000;
                font-size: 1.6rem;
                

                &:not(:last-child) {
                    margin-bottom: .5rem;
                }
            }
        }
    }

    
    .footer-copyrights{
        text-align: center;
        padding: 2rem 0;
        border-top: 1px solid #111;
        margin-top: 2rem;

        p{
            font-weight: 400;

            @include respond (mds) {
                font-size: 1.4rem;
            } 

            @include respond (xs) {
                font-size: 1.3rem;
            }
        }
    }
}

#footer.container{
    padding-bottom: 1rem;
}