#hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;

    .hero-text{
      font-weight: 600;
      line-height: 1.2;
      flex-basis: 50%;
    }

    .hero-paragraph{
        font-size: 2.2rem;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }
}