#hero{
    display: grid;
    grid-template-columns: 55% 1fr;
    gap: 3rem;
    align-items: center;

    @include respond (mdl) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .hero-text{
      font-weight: 600;
      line-height: 1.2;

    .heading-1{

      @include respond (lg) {
        font-size: 4rem;
      }
    }
      
      @include respond (mdl) {
       display: flex;
       justify-content: center;
       flex-direction: column;
       align-items: center;
       text-align: center;
      }
    }

    .hero-paragraph{
        font-size: 2.2rem;
        margin-top: 1rem;
        margin-bottom: 3rem;

        @include respond (lg) {
          font-size: 1.8rem;
        }
    
    }
}