#testimonials {
  .container-lg {
    display: block;
    .testimonial-figure {
      // max-height: 220px;
      // max-width: 100%;
      // justify-self: center;
      position: relative;
      overflow: hidden;
      border-radius: 1rem;
      p {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgb(0, 0, 0, 0.8);
        color: #fff;
        padding: 0 0.5rem;
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all 0.2s ease-in-out;

        @include respond(lg) {
          font-size: 1rem;
        }
      }

      &:hover p {
        visibility: visible;
        opacity: 1;
      }

      &-1 {
        grid-column: 1/2;
        grid-row: 1/3;
        align-self: center;
      }

      &-2 {
        grid-column: 2/3;
        grid-row: 1/2;
      }

      &-3 {
        grid-column: 3/4;
        grid-row: 1/3;
        align-self: center;
      }

      &-4 {
        grid-column: 4/5;
        grid-row: 1/2;
      }

      &-5 {
        grid-column: 5/6;
        grid-row: 1/3;
        align-self: center;
      }

      &-6 {
        grid-row: 1/2;
        grid-column: 6/7;
      }

      &-7 {
        grid-column: 7/8;
        grid-row: 1/3;
        align-self: center;
      }

      &-8 {
        grid-column: 1/2;
        grid-row: 2/4;
        align-self: center;
      }

      &-10 {
        grid-column: 6/7;
        grid-row: 2/3;
      }

      &-11 {
        grid-column: 7/8;
        grid-row: 2/4;
        align-self: center;
      }
    }

    .testimonial-text-card {
      grid-column: 3/6;
      grid-row: 2/-1;
      width: 100%;
      padding: 5%;
      align-self: center;
      justify-self: center;
      text-align: center;
      margin-top: 5rem;

      .section-heading {
        margin-bottom: 3rem;
        .heading-2 {
          text-align: center;

          @include respond(lg) {
            font-size: 3rem;
          }
          span {
            display: block;
            color: #b6b6b6;
          }
        }
      }

      p {
        margin-bottom: 2rem;
      }
    }
  }

  .horizontal-container {
    display: none;
    height: 100vh;
    overflow: hidden;
    position: relative;
    // background: #fff;

    .section-heading {
      margin-bottom: 3rem;
      text-align: center;
      position: absolute;
      width: 80%;
      top: 3%;
      left: 50%;
      transform: translateX(-50%);

      @include respond(lg) {
        top: 1%;
      }

      @include respond(mds) {
        width: 100%;
        padding: 0 1rem;
      }

      .heading-2 {
        margin-bottom: 1rem;
        @include respond(lg) {
          font-size: 3rem;
        }

        @include respond(mds) {
          margin-bottom: 0.5rem;
        }

        span {
          display: block;
          color: #b6b6b6;
        }
      }
    }

    .horizontal-wrapper {
      display: flex;
      width: max-content;
      height: 100vh;
    }

    .panel {
      width: 450px;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      padding: 0 2rem 5rem;
      height: 100%;

      @include respond(md) {
        padding: 0;
        align-items: center;
        padding: 0 2rem;
      }

      @include respond(mds) {
        width: 393px;
      }

      @include respond(xs) {
        width: 100vw;
      }

      //   @include respond(mds) {
      //     width: 100vw;
      //   }

      .inner-box {
        margin-top: 4rem;
        width: clamp(220px, 60vw, 700px);
        height: 300px;
        padding: 3rem 2rem;
        display: grid;
        grid-template-rows: 1fr max-content;
        border: 0.2px solid #b6b6b6;
        border-radius: 1rem;
        box-shadow: 0 1px 5px 0 #b6b6b6;

        @include respond(md) {
          height: 220px;
          width: 90vw;
        }

        @include respond(sm) {
          width: 90vw;
          height: 250px;
        }

        @include respond(xs) {
          width: 100vw;
          height: 280px;
        }

        p {
          font-size: 2rem;
          line-height: 1.5;
        }

        .testimonial-info {
          display: flex;
          gap: 2rem;
          align-items: center;
          margin-top: 4rem;

          h3 {
            font-size: 1.8rem;
            font-weight: 600;
            text-transform: capitalize;
            margin-bottom: 0.2rem;
          }

          h4 {
            font-size: 1.7rem;
            font-weight: 400;
            color: #b6b6b6;
          }
        }

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}

@media (max-width: 950px), (hover: none) and (pointer: coarse) {
  #testimonials {
    .container-lg {
      display: none;
    }

    .horizontal-container {
      display: block;
    }
  }
}

.pin-spacer,
.pin-spacer > * {
  z-index: 4 !important;
}
