.testimonial-figure{
    // max-height: 220px;
    // max-width: 100%;
    // justify-self: center;

    &-1{
        grid-column: 1/2;
        grid-row: 1/3;
        align-self: center;
    }

    &-2{
       grid-column: 2/3;
       grid-row: 1/2; 
    }

    &-3{
        grid-column: 3/4;
        grid-row: 1/3;
        align-self: center;
    }

    &-4{
        grid-column: 4/5;
        grid-row: 1/2;
    }

    &-5{
        grid-column: 5/6;
        grid-row: 1/3;
        align-self: center;
    }

    &-6{
        grid-row: 1/2;
        grid-column: 6/7;
    }

    &-7{
        grid-column: 7/8;
        grid-row: 1/3;
        align-self: center;
    }

    &-8{
        grid-column: 1/2;
        grid-row: 2/4;
        align-self: center;
    }

    &-10{
        grid-column: 6/7;
        grid-row: 2/3;
    }

    &-11{
        grid-column: 7/8;
        grid-row: 2/4;
        align-self: center;
    }
}

.testimonial-text-card {
    grid-column: 3/6;
    grid-row: 2/-1;
    width: 90%;
    padding: 5% 10%;
    align-self: center;
    justify-self: center;
    text-align: center;
    margin-top: 5rem;

    .section-heading{
        margin-bottom: 3rem;
        .heading-2{
            text-align: center;
            span{
                display: block;
                color: #B6B6B6;
            }
        }
    }

    p{
        margin-bottom: 2rem;
    }
}
